﻿@model BanGiayBLL.GIAY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GIAY</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenGiay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenGiay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HangSanXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangSanXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaKhuyenMai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaKhuyenMai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHITIETSANPHAM.MauSac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSANPHAM.MauSac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAIGIAY.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIGIAY.TenLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaGiay }) |
    @Html.ActionLink("Back to List", "Index")
</p>
