﻿@model IEnumerable<BanGiayBLL.GIAY>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenGiay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HangSanXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaKhuyenMai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHITIETSANPHAM.MauSac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOAIGIAY.TenLoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenGiay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HangSanXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaKhuyenMai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHITIETSANPHAM.MauSac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOAIGIAY.TenLoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaGiay }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaGiay }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaGiay })
        </td>
    </tr>
}

</table>
